.navbar{
    position: fixed;
    width: 100%;
    align-items: center;
    background-color:#364652;
    height: auto;
}

.navbar ul{
    height: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar ul li{
    margin: 0 auto;
    padding: 0;
    font-size: 36px;
    list-style: none;
}

.navbar ul li a{
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    color: #DB162F;
}