.playerContainer{
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: auto;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0;
    background-color: black;
    padding: 0px 15px 0px 15px;
    
}

.playerContainer .thumbnail{
    width: 60px;
}

.playerContainer .player{
    display: grid;
    grid-template-columns: 70% 30%;
}

.playerContainer .player .info p{
    font-size: 12px;
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.playerContainer .player .controls{
    
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    
}

.playerContainer .player .controls li{
    text-align: center;
}

.audioPlayer{
    display: none;
}