@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #B5BEC6;
  font-family: 'Varela Round', sans-serif;

}


.body{
  padding: 50px 15px 0px 15px;
}
